section.config {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;

    color: var(--primary-color);
    /* background-color: var(--secondary-color); */
    font-family: Oswald;
    font-size: var(--text-size);
}

/* section.config h1 {
    width: 100%;
    text-align: center;
} */

section.config fieldset {
    display: grid;
    grid-template-columns: 30% auto;
}

section.config label {
    grid-column: 1/2;
    text-align: center;
}

section.config input, section.config select {
    grid-column: 2/3;
    width: 100%;
}