/* Styling for Title page */

/* Variables are set at the document root */
:root {
    --primary-color: #D9D9D9;
    --secondary-color: #1b1b1b;
    --tertiary-color: #3dec1c;
  
    --header-size: 2rem;
    --text-size: 1rem;
  }
  
  /* The main page fills the screen and is divided into 3 sections */
  section.title {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-rows: 20vh 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
      "header header"
      "game about";
      
      color: var(--primary-color);
      /* background-color: var(--secondary-color); */
      font-family: Oswald;
      font-size: var(--text-size);
  }
  
  /* The header holds the game title */
  section.title > header {
      grid-area: header;
      align-self: center;
      text-align: center;
      font-size: var(--header-size);
      animation-name: breathing;
      animation-duration: 8s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
  }
  /* Roughly supposed to mimic the game's breathing timer.
      Most every CSS property can be animated in this way */
  @keyframes breathing {
      0% {
          scale: 1 1;
          color: var(--primary-color);
      }
      25% {
          scale: 1 1.5;
          color: var(--tertiary-color);
      }
      50% {
          scale: 1 1.5;
          color: var(--tertiary-color);
      }
      75% {
          scale: 1 1;
          color: var(--primary-color);
      }
      100% {
          scale: 1 1;
          color: var(--primary-color);
      }
  }
  
  /* The game menu allows you to initialize and start the game */
  section.title > article {
      grid-area: game;
      padding-left: var(--text-size);
      
      display: flex;
      flex-direction: column;
      gap: var(--text-size);
      align-items: flex-start;
  }
  
  /* The about menu has links to various resources */
  section.title > aside {
      grid-area: about;
      padding-right: var(--text-size);
      
      display: flex;
      flex-direction: column-reverse;
      gap: var(--text-size);
      align-items: flex-end;
  }
  
  /* Here's an example of button styling */
  button {
      color: var(--primary-color);
      background-color: var(--secondary-color);
      font-family: Oswald;
      font-size: var(--text-size);
      border-radius: var(--text-size);
      padding: var(--text-size);
      margin-bottom: var(--text-size);
      width: 35vw;
  
      /* you can animate transitions to property changes too; */
      transition-property: color, border-color, font-size;
      transition-duration: 2s, 1s, 2s;
      transition-delay: 0s, 0s, 0s;
  }
  
  button:hover {
      color: var(--tertiary-color);
      border-color: var(--tertiary-color);
      font-size: larger;
  }
  
  button:disabled, button:hover:disabled {
      color: grey;
      font-size: var(--text-size);
      border-color: grey;
  }
  